<a href="https://colab.research.google.com/github/LakshmiNarayanaPeniketi/kinductassignment/blob/GoogleCollab/KinductAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Loading and Data Cleaning

In [158]:
import pandas as pd

#Loading Goalies.csv data into a data frame in pandas
df=pd.read_csv('/content/drive/MyDrive/Goalies.csv',encoding='utf8', engine='python',usecols=range(0, 23))#specifying 23 coloumns as is only have 23 coloums
df

       playerID  year  stint tmID lgID  ...  PostT  PostENG  PostSHO  PostGA  PostSA
0     abbotge01  1943      1  BOS  NHL  ...    NaN      NaN      NaN     NaN     NaN
1     abrahch01  1974      1  NEW  WHA  ...    NaN      NaN      NaN     NaN     NaN
2     abrahch01  1975      1  NEW  WHA  ...    NaN      0.0      0.0     0.0     NaN
3     abrahch01  1976      1  NEW  WHA  ...    NaN      0.0      0.0     5.0    51.0
4     adamsjo02  1972      1  BOS  NHL  ...    NaN      NaN      NaN     NaN     NaN
...         ...   ...    ...  ...  ...  ...    ...      ...      ...     ...     ...
4273  youngwe01  1994      1  PIT  NHL  ...    NaN      NaN      NaN     NaN     NaN
4274   zabama01  2009      1  NYR  NHL  ...    NaN      NaN      NaN     NaN     NaN
4275  zaniemi01  1984      1  EDM  NHL  ...    NaN      NaN      NaN     NaN     NaN
4276  zimmely01  1975      1  DOT  WHA  ...    NaN      NaN      NaN     NaN     NaN
4277  zimmely01  1977      1  HOU  WHA  ...    NaN      0.0      0.0     8.0     NaN

[4278 rows x 23 columns]

## Data Preparation 

Fields that are relevant to this exercise listed below were loaded in to Data dataframe:

* playerID: Player ID
* year: Year (2005-06 listed as "2005")
* tmID: Team ID
* GP: Games played
* Min: Minutes
* W: Wins
* T/OL: Ties / overtime losses
* ENG: Empty net goals
* SHO: Shutouts
* GA: Goals against
* SA: Shots against

In [186]:
#Getting the coloumns we only require for this assignmnet

Data=df[['playerID','year','tmID','GP','Min','W','L','T/OL','ENG','SHO','GA','SA']]

#Giving condition as specified in the document 2005-06 listed as "2005")

RequiredData=Data[Data['year']==2005]

In [199]:
# Displaying the data frame according to the requirement  

RequiredData

       playerID  year tmID    GP     Min  ...  T/OL  ENG  SHO     GA      SA
10    aebisda01  2005  COL  43.0  2477.0  ...   2.0  2.0  3.0  123.0  1233.0
11    aebisda01  2005  MTL   7.0   418.0  ...   0.0  1.0  0.0   26.0   240.0
24    andercr01  2005  CHI  29.0  1553.0  ...   4.0  2.0  1.0   86.0   757.0
46    aubinje01  2005  TOR  11.0   677.0  ...   2.0  0.0  1.0   25.0   330.0
57     auldal01  2005  VAN  67.0  3859.0  ...   6.0  3.0  0.0  189.0  1938.0
...         ...   ...  ...   ...     ...  ...   ...  ...  ...    ...     ...
3859  toskave01  2005  SJS  37.0  2039.0  ...   4.0  1.0  2.0   87.0   878.0
3903  turcoma01  2005  DAL  68.0  3910.0  ...   5.0  2.0  3.0  166.0  1624.0
4038  vokouto01  2005  NAS  61.0  3601.0  ...   7.0  1.0  4.0  160.0  1984.0
4103   wardca01  2005  CAR  28.0  1484.0  ...   2.0  0.0  0.0   91.0   773.0
4121  weekeke01  2005  NYR  32.0  1850.0  ...   3.0  2.0  0.0   91.0   867.0

[98 rows x 12 columns]

## Output 1. tmID: string

In [348]:
#Converting and Updating tmID to string data type with astype('str') function in pandas 
RequiredData['tmID']=RequiredData['tmID'].astype('str')

#To check the data type casting please run below line
# print(RequiredData['tmID'].dtype)

#Teams participated in the year 2005-2006 and their partipaction count of each team
RequiredData.groupby(['tmID']).size()

tmID
ANA    2
ATL    5
BOS    4
BUF    3
CAL    3
CAR    2
CBS    3
CHI    4
COL    4
DAL    2
DET    3
EDM    4
FLO    2
LAK    3
MIN    3
MTL    4
NAS    4
NJD    2
NYI    3
NYR    3
OTT    3
PHI    2
PHO    4
PIT    4
SJS    3
STL    4
TBL    4
TOR    3
VAN    5
WAS    3
dtype: int64

## Output 2 year: Year

In [349]:
#Converting and Updating Year in int64 data type to datetime64 with to_datetime() function in pandas 

RequiredData['year']= pd.to_datetime(RequiredData['year'], format='%Y')

print(RequiredData['year'].dtype)

Year.count()

datetime64[ns]

98

In [346]:
RequiredData

       playerID       year tmID    GP     Min  ...  T/OL  ENG   SHO     GA      SA
10    aebisda01 2005-01-01  COL  43.0  2477.0  ...   2.0  2.0   3.0  123.0  1233.0
11    aebisda01 2005-01-01  MTL   7.0   418.0  ...   0.0  1.0   0.0   26.0   240.0
24    andercr01 2005-01-01  CHI  29.0  1553.0  ...   4.0  2.0   1.0   86.0   757.0
46    aubinje01 2005-01-01  TOR  11.0   677.0  ...   2.0  0.0   1.0   25.0   330.0
57     auldal01 2005-01-01  VAN  67.0  3859.0  ...   6.0  3.0   0.0  189.0  1938.0
68    bacasja01 2005-01-01  STL  19.0   966.0  ...   1.0  5.0   0.0   52.0   515.0
194   belfoed01 2005-01-01  TOR  49.0  2897.0  ...   4.0  2.0   0.0  159.0  1476.0
228   berkhad01 2005-01-01  ATL   9.0   473.0  ...   1.0  0.0   0.0   30.0   255.0
318   bironma01 2005-01-01  BUF  35.0  1934.0  ...   3.0  2.0   1.0   93.0   980.0
351   bouchbr01 2005-01-01  PHO  11.0   512.0  ...   0.0  3.0   0.0   33.0   268.0
352   bouchbr01 2005-01-01  CAL   3.0   182.0  ...   0.0  0.0   0.0   15.0   103.0
458   brodema01 2005-01-01  NJD  73.0  4365.0  ...   7.0  2.0   5.0  187.0  2105.0
515   bryzgil01 2005-01-01  ANA  31.0  1575.0  ...   1.0  2.0   1.0   66.0   733.0
523   budajpe01 2005-01-01  COL  34.0  1803.0  ...   6.0  3.0   2.0   86.0   864.0
554   burkese01 2005-01-01  TBL  35.0  1713.0  ...   4.0  2.0   2.0   80.0   764.0
580   caronse01 2005-01-01  PIT  26.0  1312.0  ...   5.0  3.0   1.0   87.0   733.0
599   cassifr01 2005-01-01  WAS   1.0    59.0  ...   0.0  0.0   0.0    4.0    30.0
680   clemmsc01 2005-01-01  NJD  13.0   627.0  ...   2.0  1.0   0.0   35.0   295.0
700   cloutda01 2005-01-01  VAN  13.0   681.0  ...   1.0  0.0   0.0   36.0   334.0
716   colemge01 2005-01-01  TBL   2.0    43.0  ...   1.0  0.0   0.0    2.0    17.0
723   conklty01 2005-01-01  EDM  18.0   922.0  ...   1.0  3.0   1.0   43.0   359.0
765   crawfco01 2005-01-01  CHI   2.0    86.0  ...   1.0  0.0   0.0    5.0    41.0
840   danisya01 2005-01-01  MTL   6.0   312.0  ...   0.0  0.0   1.0   14.0   152.0
885   denisma01 2005-01-01  CBS  49.0  2786.0  ...   1.0  6.0   1.0  151.0  1505.0
925   dipieri01 2005-01-01  NYI  63.0  3572.0  ...   5.0  7.0   1.0  180.0  1797.0
935   divisre01 2005-01-01  STL  12.0   475.0  ...   1.0  0.0   0.0   37.0   231.0
978   dubiewa01 2005-01-01  NYI   7.0   310.0  ...   0.0  1.0   0.0   15.0   145.0
1000  dunhami01 2005-01-01  ATL  17.0   779.0  ...   2.0  1.0   1.0   36.0   336.0
1051  eklunbr01 2005-01-01  TBL   1.0    58.0  ...   0.0  0.0   0.0    3.0    19.0
1073  emeryra01 2005-01-01  OTT  39.0  2168.0  ...   4.0  0.0   3.0  102.0  1045.0
1092  eschero01 2005-01-01  PHI  40.0  2286.0  ...   5.0  3.0   1.0  113.0  1099.0
1153  fernama01 2005-01-01  MIN  58.0  3411.0  ...   7.0  3.0   1.0  130.0  1612.0
1164  finlebr01 2005-01-01  NAS   1.0    60.0  ...   0.0  0.0   0.0    7.0    41.0
1206  fleurma01 2005-01-01  PIT  50.0  2809.0  ...   6.0  3.0   1.0  152.0  1485.0
1328  garnemi01 2005-01-01  ATL  24.0  1271.0  ...   4.0  2.0   2.0   73.0   634.0
1334  garonma01 2005-01-01  LAK  63.0  3446.0  ...   3.0  4.0   4.0  185.0  1738.0
1366  gerbema01 2005-01-01  CAR  60.0  3493.0  ...   6.0  5.0   3.0  162.0  1719.0
1393  gigueje01 2005-01-01  ANA  60.0  3381.0  ...  11.0  4.0   2.0  150.0  1692.0
1445  grahajo01 2005-01-01  TBL  57.0  3152.0  ...   1.0  8.0   5.0  161.0  1450.0
1575  hardijo01 2005-01-01  MIN   3.0   185.0  ...   0.0  0.0   1.0    8.0    83.0
1602  hasekdo01 2005-01-01  OTT  43.0  2584.0  ...   4.0  1.0   5.0   90.0  1202.0
1605  hausead01 2005-01-01  LAK   1.0    51.0  ...   0.0  0.0   0.0    6.0    24.0
1659  hedbejo01 2005-01-01  DAL  19.0  1079.0  ...   1.0  1.0   0.0   48.0   472.0
1807   holtch01 2005-01-01  NYR   1.0    10.0  ...   0.0  0.0   0.0    0.0     2.0
1812  howarji01 2005-01-01  DET   4.0   201.0  ...   0.0  0.0   0.0   10.0   104.0
1842   huetcr01 2005-01-01  MTL  36.0  2103.0  ...   4.0  1.0   7.0   77.0  1085.0
1933  johnsbr02 2005-01-01  WAS  26.0  1413.0  ...   1.0  1.0   1.0   81.0   854.0
1975  josepcu01 2005-01-01  PHO  60.0  3424.0  ...   3.0  3.0   4.0  166.0  1690.0
2029  khabini01 2005-01-01  CHI  50.0  2815.0  ...   6.0  3.0   0.0  157.0  1379.0
2058  kiprumi01 2005-01-01  CAL  74.0  4380.0  ...  11.0  5.0  10.0  151.0  1951.0
2073  kolesvi01 2005-01-01  COL   8.0   370.0  ...   0.0  0.0   0.0   20.0   178.0
2087  kolziol01 2005-01-01  WAS  59.0  3506.0  ...  11.0  8.0   0.0  206.0  1987.0
2104  labarja01 2005-01-01  LAK  29.0  1433.0  ...   2.0  5.0   1.0   69.0   688.0
2136  lalimpa01 2005-01-01  STL  31.0  1699.0  ...   8.0  2.0   0.0  103.0   868.0
2187  leclapa01 2005-01-01  CBS  33.0  1804.0  ...   3.0  2.0   0.0   97.0  1084.0
2200  legacma01 2005-01-01  DET  51.0  2905.0  ...   3.0  1.0   7.0  106.0  1244.0
2227  lehtoka01 2005-01-01  ATL  38.0  2166.0  ...   0.0  3.0   2.0  106.0  1123.0
2261  lenevda01 2005-01-01  PHO  15.0   814.0  ...   2.0  1.0   0.0   44.0   386.0
2376  lundqhe01 2005-01-01  NYR  53.0  3112.0  ...   9.0  2.0   2.0  116.0  1485.0
2388  luongro01 2005-01-01  FLO  75.0  4305.0  ...   9.0  4.0   4.0  213.0  2488.0
2448  markkju01 2005-01-01  EDM  37.0  2016.0  ...   6.0  1.0   0.0  105.0   873.0
2466  masonch02 2005-01-01  NAS  23.0  1227.0  ...   1.0  0.0   2.0   52.0   597.0
2562  mclenja01 2005-01-01  FLO  17.0   678.0  ...   2.0  1.0   0.0   34.0   360.0
2592  mcvicro01 2005-01-01  VAN   1.0     3.0  ...   0.0  0.0   0.0    0.0     0.0
2662  millery01 2005-01-01  BUF  48.0  2862.0  ...   3.0  3.0   1.0  124.0  1440.0
2723  morrimi01 2005-01-01  EDM  21.0   892.0  ...   2.0  0.0   0.0   42.0   361.0
2724  morrimi01 2005-01-01  OTT   4.0   207.0  ...   1.0  0.0   0.0   12.0    96.0
2738  munroad01 2005-01-01  CHI  10.0   501.0  ...   2.0  1.0   1.0   25.0   234.0
2782  nabokev01 2005-01-01  SJS  45.0  2575.0  ...   7.0  2.0   1.0  133.0  1160.0
2808  niittan01 2005-01-01  PHI  46.0  2690.0  ...   6.0  4.0   2.0  133.0  1266.0
2819  noronmi01 2005-01-01  BUF   4.0   169.0  ...   0.0  0.0   0.0   12.0    77.0
2820  noronmi01 2005-01-01  VAN   4.0   170.0  ...   0.0  0.0   0.0   10.0    77.0
2856  osgooch01 2005-01-01  DET  32.0  1846.0  ...   5.0  3.0   2.0   85.0   828.0
2864  ouellma01 2005-01-01  VAN   4.0   222.0  ...   1.0  1.0   0.0   12.0   113.0
3041  prusema01 2005-01-01  CBS   9.0   373.0  ...   0.0  0.0   0.0   20.0   165.0
3104  raycran01 2005-01-01  BOS  30.0  1619.0  ...   2.0  3.0   0.0  100.0   824.0
3239  rinnepe01 2005-01-01  NAS   2.0    63.0  ...   0.0  0.0   0.0    4.0    40.0
3290  rolosdw01 2005-01-01  MIN  24.0  1361.0  ...   1.0  3.0   1.0   68.0   759.0
3291  rolosdw01 2005-01-01  EDM  19.0  1163.0  ...   4.0  1.0   1.0   47.0   497.0
3366  sabouda01 2005-01-01  PIT   1.0    21.0  ...   0.0  0.0   0.0    4.0    14.0
3387  sanfocu01 2005-01-01  STL  34.0  1830.0  ...   5.0  4.0   3.0   81.0   885.0
3410  sauveph01 2005-01-01  CAL   8.0   402.0  ...   0.0  0.0   0.0   22.0   202.0
3411  sauveph01 2005-01-01  PHO   5.0   187.0  ...   0.0  1.0   0.0   17.0   128.0
3437  schaeno01 2005-01-01  SJS   7.0   352.0  ...   0.0  1.0   1.0   11.0   138.0
3482  shielst01 2005-01-01  ATL   5.0   266.0  ...   1.0  0.0   0.0   19.0   129.0
3503  sigaljo01 2005-01-01  BOS   1.0     1.0  ...   0.0  0.0   0.0    0.0     0.0
3612   snowga01 2005-01-01  NYI  20.0  1096.0  ...   1.0  4.0   0.0   68.0   595.0
3757  tellqmi01 2005-01-01  TOR  25.0  1399.0  ...   2.0  4.0   2.0   73.0   697.0
3790  theodjo01 2005-01-01  MTL  38.0  2114.0  ...   5.0  3.0   0.0  122.0  1025.0
3791  theodjo01 2005-01-01  COL   5.0   296.0  ...   1.0  2.0   0.0   15.0   133.0
3811  thibajo01 2005-01-01  PIT  16.0   807.0  ...   3.0  1.0   0.0   60.0   484.0
3816  thomati01 2005-01-01  BOS  38.0  2187.0  ...  10.0  3.0   1.0  101.0  1213.0
3848  toivoha01 2005-01-01  BOS  20.0  1163.0  ...   4.0  0.0   1.0   51.0   590.0
3859  toskave01 2005-01-01  SJS  37.0  2039.0  ...   4.0  1.0   2.0   87.0   878.0
3903  turcoma01 2005-01-01  DAL  68.0  3910.0  ...   5.0  2.0   3.0  166.0  1624.0
4038  vokouto01 2005-01-01  NAS  61.0  3601.0  ...   7.0  1.0   4.0  160.0  1984.0
4103   wardca01 2005-01-01  CAR  28.0  1484.0  ...   2.0  0.0   0.0   91.0   773.0
4121  weekeke01 2005-01-01  NYR  32.0  1850.0  ...   3.0  2.0   0.0   91.0   867.0

[98 rows x 12 columns]

## Output 3. Wins_agg: total wins / total players

####There were few records where playerID is repeated. So, i have performed groupby and size functions to find repetation of players and their replucation counts. Then to get Number of players participated I have used length function on this groupby data frame####

In [306]:
#To see count of each playerID please execute below line 
#print(RequiredData.groupby(['playerID']).size())

TotalPlayers= len(RequiredData.groupby(['playerID']))
TotalPlayers

91

In [295]:
TotalWins=RequiredData['W'].sum()
TotalWins

1230.0

In [296]:
Wins_agg=TotalWins/TotalPlayers
Wins_agg

13.516483516483516

## Output 4. Losses_agg: total losses / total players

In [297]:
TotalLosses=RequiredData['L'].sum()
TotalLosses

949.0

In [298]:
Loss_agg=TotalLosses/TotalPlayers
Loss_agg

10.428571428571429

## Output 5. GP_agg: total games played / total players

In [299]:
TotalGamesPlayed=RequiredData['GP'].sum()
TotalGamesPlayed

2676.0

In [300]:
GP_agg=TotalGamesPlayed/TotalPlayers
GP_agg

29.406593406593405

## Output 6. Mins_over_GA_agg: total minutes played / total goals against

In [301]:
TotalMinutesPlayed=RequiredData['Min'].sum()
TotalMinutesPlayed

148904.0

In [302]:
TotalGoalsAgainst=RequiredData['GA'].sum()
TotalGoalsAgainst

7264.0

In [303]:
Mins_over_GA_agg=TotalMinutesPlayed/TotalGoalsAgainst
Mins_over_GA_agg

20.498898678414097

## Output 7. GA_over_SA_agg: total goals against / total shots against

In [304]:
TotalShotsAgainst=RequiredData['SA'].sum()
TotalShotsAgainst

73573.0

In [305]:
GA_over_SA_agg=TotalGoalsAgainst/TotalShotsAgainst
GA_over_SA_agg

0.09873187174642872

## Output 8. avg_percentage_wins: calculate the percentage of games won for each player, then take the mean at team level

## Output 9. most_goals_stopped: {‘playerID’: playerID, ‘goals_stopped’: goals_stopped}
Description: calculate goals stopped per player, then take the player with the max goals stopped and put the details in the dictionary

## Output 10. most_efficient_player: {‘playerID’: playerID, ‘efficiency’: goals_stopped / minutes played}
Description: calculate the goals stopped per minutes of play for each player, then take the player with the max efficiency just calculated and put the details in the dictionary